.divSearch {
  /* background-color: rebeccapurple; */
  /* position: relative; */
  /* left: 45%;
  top: -40px; */
  /* outline: 2px solid white;s */
}
.botonBuscar {
  color: #7600ff !important;
  width: fit-content;
  position: relative;
  right: 40px;
}

.container-fluid {
  margin-top: 6vh;
}
